extends ../layout
block container
    fieldset.form-horizontal.col-lg-4
        section.page-header
            span.pull-right.glyphicon.glyphicon-pencil
            h3= employee.name
        div.form-group
            label.col-lg-4.control-label(for="firstName") Fornavn
            div.col-lg-8
                p.form-control-static(name="firstName")= employee.firstName
        div.form-group
            label.col-lg-4.control-label(for="lastName") Efternavn
            div.col-lg-8
                p.form-control-static(name="lastName")= employee.lastName
        div.form-group
            label.col-lg-4.control-label(for="ssn") CPR-nummer
            div.col-lg-8
                p.form-control-static(name="ssn")= employee.ssn
        div.form-group
            label.col-lg-4.control-label(for="salaryGroupNumber") Løngruppenummer
            div.col-lg-8
                p.form-control-static(name="salaryGroupNumber")= employee.salaryGroupNumber
        div.form-group
            label.col-lg-4.control-label(for="auid") AU-ID
            div.col-lg-8
                p.form-control-static(name="auid")= employee.initials
        div.form-group
            label.col-lg-4.control-label(for="fraDato") Fra dato
            div.col-lg-8
                p.form-control-static(name="fraDato")= "01-01-2014"
        div.form-group
            label.col-lg-4.control-label(for="primaryEmail") Primær e-mail
            div.col-lg-8
                p.form-control-static(name="primaryEmail")= employee.email
        div.form-group
            label.col-lg-4.control-label(for="personalEmail") Privat e-mail
            div.col-lg-8
                p.form-control-static(name="personalEmail")
        div.form-group
            label.col-lg-4.control-label(for="telephoneNumber") Telefonnummer
            div.col-lg-8
                p.form-control-static(name="telephoneNumber")= employee.phone
    fieldset.form-horizontal.col-lg-8
        each jobkategori in employee.jobkategorier
            div.page-header
                span.pull-right.glyphicon.glyphicon-pencil
                h3= jobkategori.dato
            div.form-group
                label.control-label.col-lg-2 Jobkategori
                div.col-lg-10
                    p.form-control-static= jobkategori.jobkategori
            div.form-group
                label.control-label.col-lg-2 PKAT
                div.col-lg-10
                    p.form-control-static= jobkategori.pkat
            each enhed in jobkategori.enheder
                div.col-lg-10.col-lg-offset-2
                    div.page-header
                        h5= enhed.dato
                    div.form-group
                        label.control-label.col-lg-2 Enhed
                        div.col-lg-10
                            p.form-control-static= enhed.enhed
                    div.form-group
                        label.control-label.col-lg-2(for="location") Stedkode
                        div.col-lg-10
                            p.form-control-static= enhed.stedkode
                    div.form-group
                        label.control-label.col-lg-2(for="account") Delregnskab
                        div.col-lg-10
                            p.form-control-static= enhed.delregnskab
                    div.form-group
                        label.control-label.col-lg-2(for="project") Projekt
                        div.col-lg-10
                            p.form-control-static= enhed.projekt
                    div.form-group
                        label.control-label.col-lg-2(for="activity") Aktivitet
                        div.col-lg-10
                            p.form-control-static= enhed.aktivitet