extends ../layout
block container
    section.page-header
        h1= employee.name
    form(role="form")
        fieldset.col-lg-6
            div.col-lg-6.form-group
                label.control-label(for="firstName") Fornavn
                input.form-control(type="text", name="firstName", placeholder="Fornavn", required="required", value=employee.firstName)
            div.col-lg-6.form-group
                label.control-label(for="lastName") Efternavn
                input.form-control(type="text", name="lastName", placeholder="Efternavn", required="required", value=employee.lastName)
            div.col-lg-3.form-group
                label.control-label(for="ssn") CPR-nummer
                input.form-control(type="text", name="ssn", placeholder="CPR-nummer", required="required", value=employee.ssn)
            div.col-lg-3.form-group
                label.control-label(for="salaryGroupNumber") Løngruppenummer
                input.form-control(type="number", name="salaryGroupNumber", min="0", placeholder="Løngruppenummer", required="required", value=employee.salaryGroupNumber)
            div.col-lg-3.form-group
                label.control-label(for="auid") AU-ID
                input.form-control(type="text", name="auid", min="0", placeholder="AU-ID", required="required", value=employee.initials)
            div.row
            div.col-lg-4.form-group
                label.control-label(for="primaryEmail") Primær e-mail
                input.form-control(type="email", name="primaryEmail", placeholder="Primær e-mail", value=employee.email)
            div.col-lg-4.form-group
                label.control-label(for="personalEmail") Privat e-mail
                input.form-control(type="email", name="personalEmail", placeholder="Privat e-mail")
            div.col-lg-4.form-group
                label.control-label(for="telephoneNumber") Telefonnummer
                input.form-control(type="tel", name="telephoneNumber", placeholder="Telefonnummer", value=employee.phone)
            hr
            footer.btn-group.btn-group-justified
                section.btn-group
                    button.btn.btn-success(type="submit") Gem
                section.btn-group
                    button.btn.btn-warning(type="reset") Annuller
                section.btn-group
                    button.btn.btn-default(type="button") Oversigt
        //    fieldset.col-lg-3
        //        div.form-group.col-lg-12
        //            label(for="jobCategory") Jobkategori
        //            select.form-control(name="jobCategory")
        //        div.form-group.col-lg-6
        //            label(for="validFrom") Startdato
        //            input.form-control(type="date", ng-model="employee.jobCategory.validFrom")
        //        div.form-group.col-lg-6
        //            label(for="validTo") Slutdato
        //            input.form-control(type="date", ng-model="employee.jobCategory.validTo")
        //        div.form-group.col-lg-12
        //            label(for="pkat") PKAT
        //            select.form-control(name="pkat")
        //        div.form-group.col-lg-6
        //            label(for="salaryNumber") SalaryNo
        //            p.form-control-static 000
        //    fieldset.col-lg-3(ng-if="!employee.ssn")
        //        div.form-group.col-lg-12
        //            label(for="organisation") Enhed
        //            select.form-control(name="organisation")
        //        div.form-group.col-lg-6
        //            label(for="validFrom") Startdato
        //            input.form-control(type="date", ng-model="employee.organisation.validFrom")
        //        div.form-group.col-lg-6
        //            label(for="validTo") Slutdato
        //            input.form-control(type="date", ng-model="employee.organisation.validTo")
        //        div.form-group.col-lg-12
        //            label(for="location") Stedkode
        //            select.form-control(name="pkat", ng-model="employee.organisation.location")
        //        div.form-group.col-lg-12
        //            label(for="account") Delregnskab
        //            select.form-control(name="account", ng-model="employee.organisation.account")
        //        div.form-group.col-lg-12
        //            label(for="project") Projekt
        //            select.form-control(name="project", ng-model="employee.organisation.project")
        //        div.form-group.col-lg-12
        //            label(for="activity") Aktivitet
        //            select.form-control(name="activity", ng-model="employee.organisation.activity")
        //fieldset.form-horizontal.col-lg-6(ng-if="employee.ssns")
        //    div.page-header
        //        span.pull-right.glyphicon.glyphicon-pencil
        //        h3 01.01.2013 - 01.01.2014
        //    div.form-group
        //        label.control-label.col-lg-4 Job category configuration
        //        div.col-lg-8
        //            p.form-control-static Sample job category config
        //    div.form-group
        //        label.control-label.col-lg-4 PKAT
        //        div.col-lg-8
        //            p.form-control-static 27 Efterindtægt
        //    div.form-group
        //        label.control-label.col-lg-4(for="salaryNumber") Salary number
        //        div.col-lg-8
        //            input.form-control(type="text", name="salaryNumber", value="000")
        //    div.col-lg-8.col-lg-offset-4
        //        div.page-header
        //            h5 01.01.2013 - 01.01.2014
        //        div.form-group
        //            label.control-label.col-lg-4 Organisation
        //            div.col-lg-8
        //                p.form-control-static Sample organisation
        //        div.form-group
        //            label.control-label.col-lg-4(for="location") Location
        //            div.col-lg-8
        //                p.form-control-static Location 1
        //        div.form-group
        //            label.control-label.col-lg-4(for="account") Account
        //            div.col-lg-8
        //                p.form-control-static Account 1
        //        div.form-group
        //            label.control-label.col-lg-4(for="project") Project
        //            div.col-lg-8
        //                p.form-control-static Project 1
        //        div.form-group
        //            label.control-label.col-lg-4(for="activity") Activity
        //            div.col-lg-8
        //                p.form-control-static Activity 1
        //    div.page-header
        //        span.pull-right.glyphicon.glyphicon-pencil
        //        h3 01.01.2014 - 01.05.2014
        //    div.form-group
        //        label.control-label.col-lg-4 Job category configuration
        //        div.col-lg-8
        //            p.form-control-static New job category config
        //    div.form-group
        //        label.control-label.col-lg-4 PKAT
        //        div.col-lg-8
        //            p.form-control-static 28 Mejeriingeniører
        //    div.form-group
        //        label.control-label.col-lg-4(for="salaryNumber") Salary number
        //        div.col-lg-8
        //            input.form-control(type="text", name="salaryNumber", value="001")
        //    div.col-lg-8.col-lg-offset-4
        //        div.page-header
        //            h5 01.01.2014 - 01.03.2014
        //        div.form-group
        //            label.control-label.col-lg-4 Organisation
        //            div.col-lg-8
        //                p.form-control-static Sample organisation
        //        div.form-group
        //            label.control-label.col-lg-4(for="location") Location
        //            div.col-lg-8
        //                p.form-control-static Location 2
        //        div.form-group
        //            label.control-label.col-lg-4(for="account") Account
        //            div.col-lg-8
        //                p.form-control-static Account 2
        //        div.form-group
        //            label.control-label.col-lg-4(for="project") Project
        //            div.col-lg-8
        //                p.form-control-static Project 2
        //        div.form-group
        //            label.control-label.col-lg-4(for="activity") Activity
        //            div.col-lg-8
        //                p.form-control-static Activity 2
        //        div.page-header
        //            h5 01.03.2014 - 01.05.2014
        //            div.form-group
        //                label.control-label.col-lg-4 Organisation
        //                div.col-lg-8
        //                    p.form-control-static Sample organisation
        //            div.form-group
        //                label.control-label.col-lg-4(for="location") Location
        //                div.col-lg-8
        //                    p.form-control-static Location 3
        //            div.form-group
        //                label.control-label.col-lg-4(for="account") Account
        //                div.col-lg-8
        //                    p.form-control-static Account 3
        //            div.form-group
        //                label.control-label.col-lg-4(for="project") Project
        //                div.col-lg-8
        //                    p.form-control-static Project 3
        //            div.form-group
        //                label.control-label.col-lg-4(for="activity") Activity
        //                div.col-lg-8
        //                    p.form-control-static Activity 3