extends layout
block container
    article
        - configuration = configuration || {}
        form(role="form", name="config")
            fieldset
                legend
                    h1 Jobkategori konfiguration
                        small.btn-group.btn-toolbar.pull-right
                            button.btn.btn-link.btn-lg(type="submit", disabled)
                                span.glyphicon.glyphicon-floppy-disk
                                |&nbsp;Gem
                            button.btn.btn-link.btn-lg(type="reset", onclick="javascript:history.back()")
                                span.glyphicon.glyphicon-remove
                                |&nbsp;Annuller
                div.form-group.col-lg-12
                    label.control-label Stillingstype
                    select.form-control.select2(data-placeholder="Vælg stillingstype", multiple="multiple")
                        option
                        each stilling in stillings
                            option(value=stilling.kode, selected=stilling.kode == configuration.st)= stilling.navn
                div.form-group.col-lg-4
                    label.control-labe LKO
                    select.form-control.select2(data-placeholder="Vælg LKO")
                        option
                        each lko in lkos
                            option(value=lko.kode, selected=lko.kode == configuration.lko)= lko.kode + ": " + lko.navn
                div.form-group.col-lg-4
                    label.control-label PKAT
                    select.form-control.select2(data-placeholder="Vælg PKAT")
                        option
                        each pkat in pkats
                            option(value=pkat.kode, selected=pkat.kode == configuration.pkat)= pkat.kode + ": " + pkat.navn
                div.form-group.col-lg-4
                    label.control-label STIKO
                    select.form-control.select2(data-placeholder="Vælg STIKO")
                        option
                        each stiko in stikos
                            option(value=stiko.kode, selected=stiko.kode == configuration.stiko)= stiko.kode + ": " + stiko.navn
                div.form-group.col-lg-2
                    label.control-label Lønform
                    select.form-control.select2(data-placeholder="Vælg lønform")
                        option
                        each salaryForm in salaryForms
                            option(value=salaryForm.kode, selected=salaryForm.kode == configuration.salaryForm)= salaryForm.navn
                div.form-group.col-lg-2
                    label.control-label Lønklasse
                    select.form-control.select2(data-placeholder="Vælg lønklasse")
                        option
                        each salaryClass in salaryClasses
                            option(value=salaryClass, selected=salaryClass == configuration.salaryClass)= salaryClass
                div.form-group.col-lg-2
                    label.control-label Lønanvisning
                    select.form-control.select2(data-placeholder="Vælg lønanvisning")
                        option
                        each salaryLevel in salaryLevels
                            option(value=salaryLevel, selected=salaryLevel == configuration.salaryLevel)= salaryLevel
                div.form-group.col-lg-2
                    label.control-label Fra dato
                    input.form-control(type="date", value="01-01-2014")
                div.form-group.col-lg-2
                    label.control-label Til dato
                    input.form-control(type="date", value="")
block scripts
    script.
        if (!Modernizr.touch) {
            $(function() {
                $(".select2").select2({ allowClear: true });
            });
        }