extends ../layout
block container
    article.col-lg-6
        form.form-horizontal(role="form", method="post")
            input(type="hidden", name="dato", value=registrering.dato)
            input(type="hidden", name="jobkategorikode", value=registrering.jobkategorikode)
            input(type="hidden", name="jobkategorinavn", value=registrering.jobkategorinavn)
            input(type="hidden", name="enhedkode", value=registrering.enhedkode)
            input(type="hidden", name="enhednavn", value=registrering.enhednavn)
            input(type="hidden", name="projektkode", value=registrering.projektkode)
            input(type="hidden", name="projektnavn", value=registrering.projektnavn)
            input(type="hidden", name="aktivitetkode", value=registrering.aktivitetkode)
            input(type="hidden", name="aktivitetnavn", value=registrering.aktivitetnavn)
            input(type="hidden", name="lkokode", value=registrering.lkokode)
            input(type="hidden", name="lkonavn", value=registrering.lkonavn)
            input(type="hidden", name="delregnskabkode", value=registrering.delregnskabkode)
            input(type="hidden", name="delregnskabnavn", value=registrering.delregnskabnavn)
            input(type="hidden", name="felt1", value=registrering.felt1)
            input(type="hidden", name="felt2", value=registrering.felt2)
            input(type="hidden", name="felt3", value=registrering.felt3)
            input(type="hidden", name="felt4", value=registrering.felt4)
            input(type="hidden", name="medarbejderkode", value=registrering.medarbejderkode)
            input(type="hidden", name="medarbejdernavn", value=registrering.medarbejdernavn)
            input(type="hidden", name="PartitionKey", value=registrering.PartitionKey)
            input(type="hidden", name="RowKey", value=registrering.RowKey)
            div.form-group
                label.col-lg-2.control-label Enhed
                div.col-lg-10
                    p.form-control-static= registrering.enhednavn
            div.form-group
                label.col-lg-2.control-label Medarbejder
                div.col-lg-10
                    p.form-control-static= registrering.medarbejdernavn
            div.form-group
                label.col-lg-2.control-label Dato
                div.col-lg-10
                    p.form-control-static= registrering.dato
            div.form-group
                label.col-lg-2.control-label Projekt
                div.col-lg-10
                    p.form-control-static= registrering.projektnavn
            div.form-group
                label.col-lg-2.control-label Aktivitet
                div.col-lg-10
                    p.form-control-static= registrering.aktivitetnavn
            div.form-group
                label.col-lg-2.control-label Sted
                div.col-lg-10
                    p.form-control-static= registrering.stednavn
            div.form-group
                label.col-lg-2.control-label Delregnskab
                div.col-lg-10
                    p.form-control-static= registrering.delregnskabnavn
            div.form-group
                label.col-lg-2.control-label Værdi
                div.col-lg-10
                    p.form-control-static= registrering.felt1
            div.form-group
                label.col-lg-2.control-label Kommentar
                div.col-lg-10
                    textarea.form-control(name="kommentar", value=registrering.kommentar)
            footer.form-group
                div.col-lg-10.col-lg-offset-2
                    div.btn-group.btn-group-justified
                        div.btn-group
                            button.btn.btn-success(type="submit", formaction="/registrering/lock/2/godkende/" + registrering.RowKey) Godkende
                        div.btn-group
                            button.btn.btn-danger(type="submit", formaction="/registrering/lock/2/afvise" + registrering.RowKey) Afvise
                        div.btn-group
                            button.btn.btn-default(type="button", onclick="javascript:history.back()") Annuller
    article.col-lg-6
        each samtale in registrering.samtaler
            div.panel.panel-default
                div.panel-heading
                    strong= samtale.medarbejdernavn
                    |&nbsp;på&nbsp;
                    strong= samtale.dato
                div.panel-body= samtale.kommentar