extends ../layout
block container
    input#medarbejder(type="hidden", value=JSON.stringify(medarbejder))
    input#enheder(type="hidden", value=JSON.stringify(enheder))
    input#jobkategorier(type="hidden", value=JSON.stringify(jobkategorier))
    form(role="form", method="post", action=url, ng-app="app", ng-controller="ctrl")
        input(type="hidden", name="job", value="{{ job }}")
        input(type="hidden", name="org", value="{{ org }}")
        fieldset
            legend
                div.btn-toolbar
                    button.btn.btn-link.btn-lg(type="submit")
                        span.glyphicon.glyphicon-floppy-disk &nbsp;Gem
                    button.btn.btn-link.btn-lg(type="reset", onclick="javascript:history.back()")
                        span.glyphicon.glyphicon-remove &nbsp;Annuller
                    button.btn.btn-link.btn-lg(type="button", ng-click="addJobCategory()", ng-disabled="jobkategori", ng-show="showJobCategories && medarbejder.RowKey")
                        span.glyphicon.glyphicon-plus &nbsp;Jobkategori
            fieldset.col-lg-4.form-horizontal
                div.form-group
                    label.control-label.col-lg-4(for="fornavn") Fornavn *
                    div.col-lg-8
                        input.form-control(type="text", name="fornavn", placeholder="Fornavn", ng-required="true", ng-model="medarbejder.fornavn")
                div.form-group
                    label.control-label.col-lg-4(for="efternavn") Efternavn *
                    div.col-lg-8
                        input.form-control(type="text", name="efternavn", placeholder="Efternavn", ng-required="true", ng-model="medarbejder.efternavn")
                div.form-group
                    label.control-label.col-lg-4(for="cpr") CPR-nummer *
                    div.col-lg-8
                        input.form-control(type="text", name="cpr", placeholder="CPR-nummer", ng-required="true", ng-model="medarbejder.cpr")
                div.form-group
                    label.control-label.col-lg-4(for="lgn") Løngruppenummer
                    div.col-lg-4
                        input.form-control(type="text", name="lgn", ng-maxlength="3", placeholder="Løngruppenummer", ng-required="true", ng-model="medarbejder.lgn")
                div.form-group
                    label.control-label.col-lg-4(for="initialer") ID *
                    div.col-lg-4
                        input.form-control(type="text", name="initialer", maxlength="10", placeholder="ID", ng-required="true", ng-model="medarbejder.initialer")
                div.form-group
                    label.control-label.col-lg-4(for="dato") Fra dato *
                    div.col-lg-4
                        input.form-control(type="text", name="dato", placeholder="Fra dato", ng-required="true", ng-model="medarbejder.dato", datepicker-popup, ng-click="isOpen = true", is-open="isOpen")
                div.form-group
                    label.control-label.col-lg-4(for="email") Primær e-mail *
                    div.col-lg-8
                        input.form-control(type="email", name="email", placeholder="Primær e-mail", ng-model="medarbejder.email")
                div.form-group
                    label.control-label.col-lg-4 Privat e-mail
                    div.col-lg-8
                        input.form-control(type="email", placeholder="Privat e-mail")
                div.form-group
                    label.control-label.col-lg-4(for="phone") Telefonnummer
                    div.col-lg-8
                        input.form-control(type="tel", name="phone", placeholder="Telefonnummer", ng-model="medarbejder.phone")
                div.form-group
                    label.control-label.col-lg-4(for="roller") Roller *
                    div.col-lg-8
                        select.form-control(name="roller", data-placeholder="Vælg roller", multiple, ng-model="medarbejder.roller", ui-select2)
                            //option(value="")
                            option(value="Timelønnede") Timelønnede
                            option(value="Sekretær") Sekretær
                            option(value="økonom") økonom
                            option(value="Administrator") Administrator
            fieldset.col-lg-4(ng-show="showRoles")
                div.panel.panel-default(ng-repeat="enhed in medarbejder.enheder", ng-show="medarbejder.roller.indexOf(enhed.rolle) > -1")
                    header.panel-heading
                        h4 {{ enhed.rolle }}
                    div.panel-body(ng-if="enhed.nyEnhed")
                        form(role="form")
                            div.form-group.col-lg-12
                                select.form-control(data-placeholder="Vælg enheder", ng-model="enhed.nyEnhed.koder", multiple, ng-required="true", ui-select2)
                                    each enhed in enheder
                                        option(value=enhed.kode)= enhed.kode + ': ' + enhed.navn
                            div.form-group.col-lg-6
                                input.form-control(type="text", placeholder="Fra dato", ng-model="enhed.nyEnhed.fra", datepicker-popup, ng-click="enhed.nyEnhed.isOpen.fra = true", is-open="enhed.nyEnhed.isOpen.fra", max-date="enhed.nyEnhed.til", min-date="medarbejder.dato")
                            div.form-group.col-lg-6
                                input.form-control(type="text", placeholder="Til dato", ng-model="enhed.nyEnhed.til", datepicker-popup, ng-click="enhed.nyEnhed.isOpen.til = true", is-open="enhed.nyEnhed.isOpen.til", min-date="enhed.nyEnhed.fra")
                            div.form-group.col-lg-12
                                div.btn-group.btn-group-justified
                                    div.btn-group.btn-group-sm
                                        button.btn.btn-success(type="button", ng-click="addEnhed(enhed)", ng-disabled="!enhed.nyEnhed.fra && !enhed.nyEnhed.til || !enhed.nyEnhed.koder.length")
                                            span.glyphicon.glyphicon-ok
                                            |&nbsp; Gem
                                    div.btn-group.btn-group-sm
                                        button.btn.btn-warning(type="button", ng-click="remEnhed(enhed)")
                                            span.glyphicon.glyphicon-remove
                                            |&nbsp; Annuler
                    table.table
                        thead(ng-if="!enhed.nyEnhed")
                            tr
                                th Fra
                                th Til
                                th Enheder
                                th
                                    a(href="javascript:void(0)", ng-click="addNewEnhed(enhed)")
                                        span.glyphicon.glyphicon-plus
                        tbody
                            tr(ng-repeat="_enhed in enhed.enheder track by $index")
                                td {{ _enhed.fra }}
                                td {{ _enhed.til }}
                                td
                                    ul.list-unstyled
                                        li(ng-repeat="navn in _enhed.navne") {{ navn }}
                                td
                                    a(href="javascript:void(0)", ng-click="delEnhed($index, enhed)")
                                        span.glyphicon.glyphicon-trash
            fieldset.col-lg-4(ng-show="showJobCategories")
                section.form-horizontal(ng-show="!medarbejder.RowKey")
                    div.form-group
                        //label.control-label.col-lg-4(for="jobkategorikode") Jobkategori
                        div.col-lg-12
                            select.form-control(name="jobkategorikode", placeholder="Vælg jobkategori", ng-required="!medarbejder.RowKey", ng-model="jobkategorikode", ui-select2)
                                option
                                    each jobkategori in jobkategorier
                                        option(value=jobkategori.uuid)= jobkategori.stilling
                            input(type="hidden", name="jobkategorinavn", value="{{ jobkategorinavn }}")
                    div.form-group
                        //label.control-label.col-lg-4(for="pkatkode") PKAT
                        div.col-lg-12
                            select.form-control(name="pkatkode", placeholder="Vælg PKAT", ng-required="!medarbejder.RowKey", ng-disabled="!pkats", ng-model="pkatkode", ui-select2)
                                option
                                option(ng-repeat="pkat in pkats", value="{{ pkat.kode }}") {{ pkat.navn }}
                            input(type="hidden", name="pkatnavn", value="{{ pkatnavn }}")
                    //div.form-group
                    //    div.col-lg-12
                    //        div.checkbox.pull-right
                    //            label
                    //                input(type="checkbox", ng-model="default")
                    //                |&nbsp;Brug standardværdierne
                    div.form-group
                        //label.control-label.col-lg-4(for="delregnskabkode") Delregnskab
                        div.col-lg-12
                            select.form-control(name="delregnskabkode", placeholder="Vælg delregnskab", ng-model="delregnskabkode", ng-required="!medarbejder.RowKey", ui-select2)
                                option
                                option(ng-repeat="delregnskab in delregnskaber", value="{{ delregnskab.kode }}") {{ delregnskab.navn }}
                            input(type="hidden", name="delregnskabnavn", value="{{ delregnskabnavn }}")
                    div.form-group
                        //label.control-label.col-lg-4(for="projektkode") Projekt
                        div.col-lg-12
                            input.form-control#projekt(placeholder="Vælg projekt", ng-model="projekt", ui-select2="uiprojekt")
                            input(type="hidden", name="projektkode", value="{{ projektkode }}")
                            input(type="hidden", name="projektnavn", value="{{ projektnavn }}")
                    div.form-group
                        //label.control-label.col-lg-4(for="aktivitetkode") Aktivitet
                        div.col-lg-12
                            input.form-control#aktivitet(placeholder="Vælg aktivitet", ng-model="aktivitet", ui-select2="uiaktivitet")
                            input(type="hidden", name="aktivitetkode", value="{{ aktivitetkode }}")
                            input(type="hidden", name="aktivitetnavn", value="{{ aktivitetnavn }}")
                    div.form-group
                        //label.control-label.col-lg-4(for="stedkode") STED
                        div.col-lg-12
                            select.form-control(name="stedkode", placeholder="Vælg STED", ng-model="stedkode", ui-select2="{ allowClear: true }")
                                option
                                option(ng-repeat="sted in steder", value="{{ sted.kode }}") {{ sted.navn }}
                            input(type="hidden", name="stednavn", value="{{ stednavn }}")
                    div.form-group
                        //label.control-label.col-lg-4(for="enhedkode") Enhed
                        div.col-lg-12
                            select.form-control(name="enhedkode", placeholder="Vælg enhed", ng-model="enhedkode", ng-required="!medarbejder.RowKey", ui-select2)
                                option
                                option(ng-repeat="enhed in enheder", value="{{ enhed.kode }}") {{ enhed.kode + ': ' + enhed.navn }}
                            input(type="hidden", name="enhednavn", value="{{ enhednavn }}")
                section.panel.panel-default(ng-if="nyJobkategori")
                    header.panel-heading
                        h4 Ny jobkategori
                    div.panel-body
                        form(role="form")
                            div.form-group.col-lg-12
                                select.form-control(placeholder="Vælg jobkategori", ng-model="nyJobkategori.kode", ui-select2, ng-required="true")
                                    option
                                        each jobkategori in jobkategorier
                                            option(value=jobkategori.uuid)= jobkategori.stilling
                            div.form-group.col-lg-6
                                input.form-control(type="text", placeholder="Fra dato", ng-model="nyJobkategori.fra", datepicker-popup, ng-click="nyJobkategori.isOpen.fra = true", is-open="nyJobkategori.isOpen.fra", max-date="nyJobkategori.til")
                            div.form-group.col-lg-6
                                input.form-control(type="text", placeholder="Til dato", ng-model="nyJobkategori.til", datepicker-popup, ng-click="nyJobkategori.isOpen.til = true", is-open="nyJobkategori.isOpen.til", min-date="nyJobkategori.fra")
                            div.form-group.col-lg-12
                                div.btn-group.btn-group-justified
                                    div.btn-group.btn-group-sm
                                        button.btn.btn-success(type="button", ng-click="addJob(medarbejder.jobkategorier, nyJobkategori)", ng-disabled="!nyJobkategori.kode || !nyJobkategori.enheder.length || !nyJobkategori.fra")
                                            span.glyphicon.glyphicon-ok
                                            |&nbsp; Gem
                                    div.btn-group.btn-group-sm
                                        button.btn.btn-warning(type="button", ng-click="remJob()")
                                            span.glyphicon.glyphicon-remove
                                            |&nbsp; Annuler
                            div.form-group.col-lg-12
                                select.form-control(placeholder="Vælg enhed", ng-model="nyJobkategori.enhed.kode", ng-required="true", ui-select2)
                                    option
                                        each enhed in enheder
                                            option(value=enhed.kode)= enhed.kode + ': ' + enhed.navn
                            div.form-group.col-lg-6
                                input.form-control(type="text", placeholder="Fra dato", ng-model="nyJobkategori.enhed.fra", datepicker-popup, ng-click="nyJobkategori.enhed.isOpen.fra = true", is-open="nyJobkategori.enhed.isOpen.fra", max-date="nyJobkategori.enhed.til")
                            div.form-group.col-lg-6
                                input.form-control(type="text", placeholder="Til dato", ng-model="nyJobkategori.enhed.til", datepicker-popup, ng-click="nyJobkategori.enhed.isOpen.til = true", is-open="nyJobkategori.enhed.isOpen.til", min-date="nyJobkategori.enhed.fra")
                            div.form-group.col-lg-12
                                div.btn-group.btn-group-justified
                                    div.btn-group.btn-group-sm
                                        button.btn.btn-success(type="button", ng-click="addOrg(nyJobkategori)", ng-disabled="!nyJobkategori.enhed.kode || !nyJobkategori.enhed.fra")
                                            span.glyphicon.glyphicon-ok
                                            |&nbsp; Gem
                                    div.btn-group.btn-group-sm
                                        button.btn.btn-warning(type="button", ng-click="remOrg(nyJobkategori)")
                                            span.glyphicon.glyphicon-remove
                                            |&nbsp; Annuler
                    table.table
                        tbody
                            tr(ng-repeat="enhed in nyJobkategori.enheder")
                                td {{ enhed.fra }}
                                td {{ enhed.til }}
                                td {{ enhed.navn }}
                                td
                                    a(href="javascript:void(0)", ng-click="detachEnhed(nyJobkategori.enheder, $index)")
                                        span.glyphicon.glyphicon-trash
                section.panel.panel-default(ng-repeat="jobkategori in medarbejder.jobkategorier")
                    header.panel-heading
                        h4
                            span {{ jobkategori.navn }}
                            |&nbsp;
                            small {{ jobkategori.fra + " - " + (jobkategori.til || "...") }}
                    div.panel-body(ng-class="{ 'text-center': !jobkategori.enhed}")
                        button.btn.btn-danger.btn-xs(type="button", ng-click="delJob(medarbejder.jobkategorier, $index)", ng-hide="jobkategori.enhed")
                            span.glyphicon.glyphicon-trash
                            | &nbsp; Slet jobkategori
                        form(role="form", ng-if="jobkategori.enhed")
                            div.form-group.col-lg-12
                                select.form-control(placeholder="Vælg enhed", ng-model="jobkategori.enhed.kode", ng-required="true", ui-select2)
                                    option
                                        each enhed in enheder
                                            option(value=enhed.kode)= enhed.kode + ': ' + enhed.navn
                            div.form-group.col-lg-6
                                input.form-control(type="text", placeholder="Fra dato", ng-model="jobkategori.enhed.fra", datepicker-popup, ng-click="jobkategori.enhed.isOpen.fra = true", is-open="jobkategori.enhed.isOpen.fra", max-date="jobkategori.enhed.til")
                            div.form-group.col-lg-6
                                input.form-control(type="text", placeholder="Til dato", ng-model="jobkategori.enhed.til", datepicker-popup, ng-click="jobkategori.enhed.isOpen.til = true", is-open="jobkategori.enhed.isOpen.til", min-date="jobkategori.enhed.fra")
                            div.form-group.col-lg-12
                                div.btn-group.btn-group-justified
                                    div.btn-group.btn-group-sm
                                        button.btn.btn-success(type="button", ng-click="addOrg(jobkategori)", ng-disabled="!jobkategori.enhed.fra || !jobkategori.enhed.kode")
                                            span.glyphicon.glyphicon-ok
                                            |&nbsp; Gem
                                    div.btn-group.btn-group-sm
                                        button.btn.btn-warning(type="button", ng-click="remOrg(jobkategori)")
                                            span.glyphicon.glyphicon-remove
                                            |&nbsp; Annuler
                    table.table
                        thead(ng-if="!jobkategori.enhed")
                            tr
                                th Fra
                                th Til
                                th Enhed
                                th
                                    a(href="javascript:void(0)", ng-click="attachEnhed(jobkategori)")
                                        span.glyphicon.glyphicon-plus
                        tbody
                            tr(ng-repeat="enhed in jobkategori.enheder")
                                td {{ enhed.fra }}
                                td {{ enhed.til }}
                                td {{ enhed.navn }}
                                td
                                    a(href="javascript:void(0)", type="button", ng-click="detachEnhed(jobkategori.enheder, $index)")
                                        span.glyphicon.glyphicon-trash
block scripts
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js")
    script(src="/js/select2.js")
    script(src="/js/medarbejder.js")